# üêº Pandas Practice: DataFrames, Selection, Mapping, and More

In [ ]:
import pandas as pd
import numpy as np

# Set seed for reproducibility
np.random.seed(42)

# Sample data
names = ['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan', 'Fiona', 'George', 'Hannah']
departments = ['Sales', 'Marketing', 'HR', 'Tech']

# Create a DataFrame
df = pd.DataFrame({
    'Name': np.random.choice(names, size=20),
    'Age': np.random.randint(22, 60, size=20),
    'Department': np.random.choice(departments, size=20),
    'Salary': np.random.randint(40000, 120000, size=20),
    'YearsExperience': np.random.randint(0, 20, size=20)
})
df

       Name  Age Department  Salary  YearsExperience
0    George   43         HR   75920               15
1     Diana   23  Marketing  107121               12
2     Ethan   45       Tech  109479               17
3    George   51      Sales   59457               14
4   Charlie   59       Tech  106557               12
5    Hannah   23  Marketing  117189                8
6     Ethan   42  Marketing  118953               14
7     Ethan   54  Marketing   92995               12
8    George   33      Sales   80757                0
9       Bob   43  Marketing   49692                6
10  Charlie   46      Sales   85758                8
11   George   48  Marketing  112409                0
12  Charlie   49       Tech  111211               11
13  Charlie   37       Tech  105697                7
14   Hannah   36         HR   77065               10
15    Ethan   24       Tech   72606               18
16    Diana   58         HR   51534               16
17   Hannah   28       Tech   80397                7
18   Hannah   42      Sales   41016                2
19  Charlie   30       Tech   95591                2

# üß™ PRACTICE QUESTIONS BELOW


# 1Ô∏è‚É£ Use .loc to select all rows where the Department is 'Tech'.
#    - Describe what .loc does and why it's useful for label-based filtering.

In [ ]:
print(df.loc[:,"Department"]=="Tech")

0     False
1     False
2      True
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13     True
14    False
15     True
16    False
17     True
18    False
19     True
Name: Department, dtype: bool


# 2Ô∏è‚É£ Use .iloc to select the first 5 rows and the last two columns.
#    - What is the difference between .loc and .iloc?

In [ ]:
df.iloc[0:5,3:5]

   Salary  YearsExperience
0   75920               15
1  107121               12
2  109479               17
3   59457               14
4  106557               12


# 3Ô∏è‚É£ Map a new column called 'DeptCode' where:
#     'Sales' -> 1, 'Marketing' -> 2, 'HR' -> 3, 'Tech' -> 4.
#    - Use .map and explain what happens if a value is not mapped.

In [ ]:
dept_mapping = {
    'Sales': 1,
    'Marketing': 2,
    'HR': 3,
    'Tech': 4,
    'jiefn':5#nothing happened
}
df['DeptCode'] = df['Department'].map(dept_mapping)
display(df.head())

      Name  Age Department  Salary  YearsExperience  DeptCode
0   George   43         HR   75920               15         3
1    Diana   23  Marketing  107121               12         2
2    Ethan   45       Tech  109479               17         4
3   George   51      Sales   59457               14         1
4  Charlie   59       Tech  106557               12         4


# 4Ô∏è‚É£ Use .apply to calculate a new column 'Seniority' where:
#     - If YearsExperience > 10 ‚Üí 'Senior'
#     - If between 5-10 ‚Üí 'Mid-Level'
#     - Else ‚Üí 'Junior'
#    - Use a lambda function with apply.

In [ ]:
df["Seniority"]=df["YearsExperience"].apply((lambda x:"senior" if x>10 else "Junior" if x<5 else "Mid-Level"))
print(df["Seniority"])

0        senior
1        senior
2        senior
3        senior
4        senior
5     Mid-Level
6        senior
7        senior
8        Junior
9     Mid-Level
10    Mid-Level
11       Junior
12       senior
13    Mid-Level
14    Mid-Level
15       senior
16       senior
17    Mid-Level
18       Junior
19       Junior
Name: Seniority, dtype: object


# 5Ô∏è‚É£ Overwrite all salaries for employees with < 3 years of experience to 35000.
#    - Use boolean indexing with .loc to do this.

In [ ]:
df.loc[df["YearsExperience"] < 3, "Salary"] = 35000


# 6Ô∏è‚É£ Compare using .loc and .iloc to select the same row:
#    - Select the 3rd row using .iloc
#    - Find its index value and use .loc to select the same row by label

In [ ]:
df.iloc[2]
print(df.loc[2])

Name               Ethan
Age                   45
Department          Tech
Salary              3500
YearsExperience       17
Name: 2, dtype: object


# 7Ô∏è‚É£ Check if there are any duplicate names in the dataset.
#    - If there are, show only those duplicated rows.

In [ ]:
import pandas as pd
duplicates = df[df.duplicated('Name', keep=False)]
duplicates_sorted = duplicates.sort_values('Name')
print(duplicates_sorted)

       Name  Age Department  Salary  YearsExperience
10  Charlie   46      Sales    3500                8
13  Charlie   37       Tech    3500                7
12  Charlie   49       Tech    3500               11
4   Charlie   59       Tech    3500               12
19  Charlie   30       Tech   35000                2
1     Diana   23  Marketing    3500               12
16    Diana   58         HR    3500               16
6     Ethan   42  Marketing    3500               14
7     Ethan   54  Marketing    3500               12
2     Ethan   45       Tech    3500               17
15    Ethan   24       Tech    3500               18
8    George   33      Sales   35000                0
11   George   48  Marketing   35000                0
3    George   51      Sales    3500               14
0    George   43         HR    3500               15
5    Hannah   23  Marketing    3500                8
18   Hannah   42      Sales   35000                2
14   Hannah   36         HR    3500               10
17   Hannah   28       Tech    3500                7


# 8Ô∏è‚É£ Sort the DataFrame by Salary in descending order.
#    - Then sort it by Department and within Department by Age.

In [ ]:
x=df.sort_values("Salary",ascending=False)
x.sort_values(["Department","Age"])

       Name  Age Department  Salary  YearsExperience
14   Hannah   36         HR    3500               10
0    George   43         HR    3500               15
16    Diana   58         HR    3500               16
1     Diana   23  Marketing    3500               12
5    Hannah   23  Marketing    3500                8
6     Ethan   42  Marketing    3500               14
9       Bob   43  Marketing    3500                6
11   George   48  Marketing   35000                0
7     Ethan   54  Marketing    3500               12
8    George   33      Sales   35000                0
18   Hannah   42      Sales   35000                2
10  Charlie   46      Sales    3500                8
3    George   51      Sales    3500               14
15    Ethan   24       Tech    3500               18
17   Hannah   28       Tech    3500                7
19  Charlie   30       Tech   35000                2
13  Charlie   37       Tech    3500                7
2     Ethan   45       Tech    3500               17
12  Charlie   49       Tech    3500               11
4   Charlie   59       Tech    3500               12


# 9Ô∏è‚É£ Slice the DataFrame to return rows 5 through 12 and columns 'Name', 'Salary'
#    - Try slicing using both label-based and position-based methods.

In [ ]:
x = df.loc[5:12, ["Name", "Salary"]]
print(x)
y = df.iloc[5:13, [0, 3]]
print(y)

       Name  Salary
5    Hannah    3500
6     Ethan    3500
7     Ethan    3500
8    George   35000
9       Bob    3500
10  Charlie    3500
11   George   35000
12  Charlie    3500
       Name  Salary
5    Hannah    3500
6     Ethan    3500
7     Ethan    3500
8    George   35000
9       Bob    3500
10  Charlie    3500
11   George   35000
12  Charlie    3500


# üîü Find all rows where the name starts with 'A' or 'D'.
#    - Use string methods with .str accessor.

In [ ]:
result = df[df['Name'].str.startswith('A') | df['Name'].str.startswith('D')]
result = df[df['Name'].str.contains('^[AD]', regex=True)]
print(result)

     Name  Age Department  Salary  YearsExperience
1   Diana   23  Marketing    3500               12
16  Diana   58         HR    3500               16


# 1Ô∏è‚É£1Ô∏è‚É£ Drop all rows where Age is below 25.
#     - Explain whether this modifies the DataFrame in place or returns a copy.

In [ ]:
indices_to_drop = df[df['Age'] < 25].index
#returns a new DataFrame
filtered_df = df.drop(indices_to_drop)
filtered_df

       Name  Age Department  Salary  YearsExperience
0    George   43         HR    3500               15
2     Ethan   45       Tech    3500               17
3    George   51      Sales    3500               14
4   Charlie   59       Tech    3500               12
6     Ethan   42  Marketing    3500               14
7     Ethan   54  Marketing    3500               12
8    George   33      Sales   35000                0
9       Bob   43  Marketing    3500                6
10  Charlie   46      Sales    3500                8
11   George   48  Marketing   35000                0
12  Charlie   49       Tech    3500               11
13  Charlie   37       Tech    3500                7
14   Hannah   36         HR    3500               10
16    Diana   58         HR    3500               16
17   Hannah   28       Tech    3500                7
18   Hannah   42      Sales   35000                2
19  Charlie   30       Tech   35000                2


# 1Ô∏è‚É£2Ô∏è‚É£ Use groupby to calculate the average salary per Department.
#     - Bonus: Show the average age and average experience too.

In [ ]:
avg_salary = df.groupby('Department')['Salary'].mean()
print(avg_salary)

Department
HR            3500.0
Marketing     8750.0
Sales        19250.0
Tech          8000.0
Name: Salary, dtype: float64


# 1Ô∏è‚É£3Ô∏è‚É£ Use groupby to count how many employees are in each Department.

In [ ]:
employee_count = df.groupby('Department')['Name'].count()
print(employee_count)

Department
HR           3
Marketing    6
Sales        4
Tech         7
Name: Name, dtype: int64


# 1Ô∏è‚É£4Ô∏è‚É£ Use .apply to normalize the Salary column (min-max scaling between 0 and 1).
#     - Bonus: Write your own normalization function and pass it to apply.

In [ ]:
min_salary = df['Salary'].min()
max_salary = df['Salary'].max()
df['Normalized_Salary'] = df['Salary'].apply(
    lambda x: (x - min_salary) / (max_salary - min_salary)
)
print(df[['Name', 'Salary', 'Normalized_Salary']].head())

      Name  Salary  Normalized_Salary
0   George    3500                0.0
1    Diana    3500                0.0
2    Ethan    3500                0.0
3   George    3500                0.0
4  Charlie    3500                0.0


# 1Ô∏è‚É£5Ô∏è‚É£ Use boolean indexing to find all employees who:
#     - Are in 'HR' OR 'Tech', AND have > 5 years of experience.

# üîÅ For many of these tasks, try both .loc and .iloc to build intuition on their differences.

In [ ]:
condition_dept = df['Department'].isin(['HR', 'Tech'])
condition_exp = df['YearsExperience'] > 5
filtered_employees = df[condition_dept & condition_exp]
print(filtered_employees)

       Name  Age Department  Salary  YearsExperience  Normalized_Salary
0    George   43         HR    3500               15                0.0
2     Ethan   45       Tech    3500               17                0.0
4   Charlie   59       Tech    3500               12                0.0
12  Charlie   49       Tech    3500               11                0.0
13  Charlie   37       Tech    3500                7                0.0
14   Hannah   36         HR    3500               10                0.0
15    Ethan   24       Tech    3500               18                0.0
16    Diana   58         HR    3500               16                0.0
17   Hannah   28       Tech    3500                7                0.0